<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a40f0ba3-2269-4b5a-bd14-3b4a0e243a82/resourceGroups/ApiBlackJack/providers/Microsoft.Web/sites/ApiBlackJack</ResourceId>
    <ResourceGroup>ApiBlackJack</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://apiblackjack.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>apiblackjack.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ApiBlackJack</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ApiBlackJack</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>